.board {
    display: grid;
    grid-template-columns: repeat(var(--columns), 20px);
    grid-template-rows: repeat(var(--rows), 20px);
    width: 100%;
    height: 100%;
}

.board-row {
    display: contents;
}

.board-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    background: #eee
}

.snake-cell {
    background: #4caf50;
}

.food-cell {
    background: #ff5722;
}